* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", "Helvetica Neue", ;
    outline: none;
}

html {
    height: 100%;
}

body {
    background-color: #111;
}

h1 {
    font-size: 3rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: #fff;
}

.styling {
    font-weight: 800;
    color: lime;
}

.input_div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input_div .input {
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    background-color: #fff;
    width: 450px;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 25px;
}

.addButton {
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #fff;
    border-radius: 50%;
    margin: 0.5rem;
    background-color: lime;
    cursor: pointer;
    font-size: 25px;
}

.addButton:hover {
    opacity: .7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 4px solid #fff;
}

.item_input {
    background: none;
    outline: none;
    color: #fff;
    border: none;
    width: 350px;
    font-size: 1.4rem;
}

.editButton {
    font-size: 1.4rem;
    margin: 0 .75rem;
    background: none;
    outline: none;
    color: lime;
    border: none;
    cursor: pointer;
}

.removeButton {
    font-size: 1.4rem;
    margin: 0 .75rem;
    background: none;
    outline: none;
    color: #e00;
    border: none;
    cursor: pointer;
}